<div class="panel panel-default grid">
	<div class="panel-heading">
		<div class="panel-label">קטגוריות</div>
		<div class="actions pull-left">
			<a class="btn btn-default" {{action 'save'}}>
				<i class="fa fa-save"></i>
			</a>
			<a class="btn btn-default" {{action 'addItem'}}>
				<i class="fa fa-plus"></i>
			</a>
		</div>
	</div>
	<div class="panel-body">
		{{ui-tree node=categories editable=true title="קטגוריה חדשה"}}
	</div>
</div>
