<div id="header">
    
    <div class="container">

        <a id="logo" href="#">
            <img src="img/site/logo.png" />
        </a>

        <p class="right">
            ישראל ישראלי, חבר מועדון “יחד” ברוך הבא
            <a href="#">יציאה</a>
        </p>

        <p class="left">
            <strong>שרות לקוחות 1-700-700-400</strong>
            <a href="#">צור קשר</a>
            <a href="#" class="active">כניסה לאזור האישי</a>
        </p>

        <div id="search">
            <label>החברים שלנו משלמים פחות</label>
            <div class="search-field">
                <input type="text" placeholder="חיפוש חופשי באתר" />
                <button type="button">&gt;</button>
            </div>
        </div>

    </div>

</div>

<div id="main">

    <div class="container">
       
        <div id="sidebar">
            <button class="cart">סל הקניות שלי [ 3 ]</button>

            <ul class="categories">
            </ul>

            <ul class="regions">
                <li>חיפוש לפי אזור<i class="fa fa-filter"></i></li>
            </ul>
        </div>


        <div id="content">
            
            <div class="box">
                <div class="inner">
                    <label>אטרקציות</label>
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="inner">
                    <label>מסעדות</label>
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="inner">
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="inner">
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="inner">
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="inner">
                    <img src="" />
                    <h2>פארק מיני ישראל</h2>
                    <address>
                        ירושליים, לטרון
                        <br />
                        1700-559559
                    </address>
                    <div class="info">
                        <span>25% הנחה</span>
                        <button class="">לפרטים</button>
                    </div>
                </div>
            </div>                                                
        </div>

    </div>

</div>

<div id="footer">
    
    <div class="container">

        <ul class="navigation">
            
            <li>
                <a href="">ראשי</a>
            </li>
            
            <li>
                <a href="">תקנון האתר</a>
            </li>
            
            <li>
                <a href="">אודות</a>
            </li>
            
            <li>
                <a href="">צור קשר</a>
            </li>

        </ul>
 
    </div>

</div>