<a {{bind-attr href=view.content.fullUrl}} target="_blank" class="btn btn-default btn-sm" title="לאתר">
	<i class="fa fa-link"></i>
</a>
{{#link-to 'clubs.edit' view.content.id class="btn btn-primary btn-sm"}}<i class="fa fa-edit"></i>{{/link-to}}
