<div class="panel panel-default grid">
  <div class="panel-heading">
    <form>
      <div class="panel-label">הזמנה</div>
      <div class="search">
        {{input type="number" value=id class="search-query input-medium search" placeholder="הכנס קוד הזמנה"}}
      </div>
      <div class="pull-left actions">
        <button class="btn btn-default" {{action 'load' id}}><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>


    {{#if success}}
      <div class="alert alert-success">
        <strong>ההזמנה מומשה בהצלחה!</strong>
        <i class="fa fa-times" {{action 'closeSuccess' controller}}></i>
      </div>
    {{/if}}

    {{#if msg}}
        <div class="panel-body" style="background-color: #f4f4f4;text-align:center;">
          <h2 >{{msg}}</h2>
        </div>
    {{/if}}
</div>



