<div class="row tab-pane" id="minisite">
  <div class="col-md-12">
    {{#view App.FormView}}


    <form autocomplete="off">

        <div class="row">
           <div class="col-md-12">
              <div class="form-group">
                <label>תוכן למיני סייט:</label>
                {{ui-rte html=sitedetails.miniSiteContext}}
              </div>
           </div>
        </div>

    </form>
    
    <div class="modal-footer">
          <div class="pull-left">
             <div class="pull-left">
                <button {{action 'saveMiniSite'  model.sitedetails view controller}} type="button" class="btn btn-success sendEnter">שמור</button>
              </div>
          </div>
    </div>

    {{/view}}
    

  </div>
</div>