<div {{bind-attr class=":tree-row isExpanded:down-arrow:right-arrow isLeaf:leaf isSelected:selected"}}  {{action 'toggle'}} >
	<span class=":toggle-icon">
		{{node.name}}
	</span>

</div>

{{#if isExpanded}}
  {{ui-tree node=node}}
{{/if}}

