{{#view App.ModalView}}
<div class="modal-backdrop fade in"></div>
<div class="modal fade" tabindex="-1">
  <div class="modal-dialog" style="width: 400px;">
    <div class="modal-content">
      <div class="modal-header"><h4 style="text-transform: uppercase;color:red;">אזהרה:</h4></div>     
      <div class="modal-body" style="padding-bottom:0;">        
        {{#if error}}
                <div class="alert alert-danger error">
                  <strong>שגיאה:</strong> {{error}}
                  <i class="fa fa-times" {{action close controller}}></i>
                </div>
        {{/if}}

          <div class="row">
            <div class="col-md-12">
                <p style="font-size:20px;margin:0;">
                  האם אתה בטוח שברצונך למחוק מוצר זה?
                </p>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <button {{action "delete" controller}} type="button" class="btn btn-danger sendEnter">מחיקה</button>
        </div>
         <div class="pull-right">
          <button {{action "cancel" controller}} type="button" class="btn btn-default active">ביטול</button>
        </div>
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{/view}}