<ul class="inlineList" style="font-size: 18px;position: absolute;right: 20%;">
        <li>מ:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="startDate" }}</li>
        <li>עד:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="endDate" }}</li>
        <li>סטטוס:</li>
        <li>
        	  {{ui-chosen
                  options = App.orderStatuses
                  selected=orderStatus
                  prompt = "הכל"
                }}
        	
        </li>
        <li>ספק:</li>
        <li style="width:160px;">
            {{ui-chosen
                  options = App.suppliers
                  selected=suppliers_id
                  prompt = "הכל"
                }}
          
        </li>
        
</ul>