<ul class="inlineList" style="font-size: 18px;position: absolute;right: 20%;">
        <li>מ:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="startDate" }}</li>
        <li>עד:</li>
        <li>{{input-date-time picker="date" class="form-control" valueBinding="endDate" }}</li>
</ul>