.gallery
{
	list-style: none;
	 overflow: hidden;
   min-height: 170px;
}
.gallery li 
{
	display: block;
    float: right;
    height: 170px;
    margin: 5px;
    width: 170px;
    position: relative;
}
.gallery .remove
{
  background-color: #f8f8f8;
  border-radius: 50%;
  height: 20px;
  left: 5px;
  line-height: 17px;
  position: absolute;
  top: 5px;
  width: 20px;
  z-index: 12;
  border: 1px solid #666;
  cursor: pointer;
}
.gallery .remove i
{
  display: block;
    font-size: 13px;
    line-height: inherit;
    text-align: center;
    width: 100%;
}
.gallery li .imageUpload
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 10;
}
.gallery li img
{
	height: 100%;
	width: auto;
}