<div class="overlay">
    <div class="lightbox small">
        <div class="close" {{action 'closeModal'}}>&times;</div>

        {{#if showLogin}}
            {{partial 'account/login'}}
        {{else}}
            {{partial 'account/register'}}
        {{/if}}

    </div>
</div>