<div class="overlay">
    <div class="lightbox small" style="padding:5px;">
        <div class="close" {{action 'closeModal'}}>&times;</div>
        <h2 style="text-align: center;">{{model.header}}</h2>
      	<p style="text-align: center;">
      		{{model.msg}}
      	</p>
    </div>
</div>