<ul class="tree-branch tree">
	<li class="tree-node">{{#link-to 'account.index' }}הפרטים שלי<i class="fa fa-chevron-left"></i>{{/link-to}}</li>
	<li class="tree-node">{{#link-to 'orders' (query-params page=1)}}ההזמנות שלי<i class="fa fa-chevron-left"></i>{{/link-to}}</li>
</ul>


