body 
{
	font-size: 14px;
	background-color: #eeeef4;
	direction: rtl;
	font-family: arial;
}

.overlay + #body {
	filter: blur(2px); 
	-webkit-filter: blur(2px); 
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: url(../../img/blur.svg#blur);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top:	0;
	overflow: hidden;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.overlay .lightbox {
	width: 830px;
	height: 440px;
	border-radius: 8px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.65);
	padding: 35px 25px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-image: linear-gradient(to top, #dbe2e5 10%, #e6e9eb 20%, #f0f0f0 50%, #f9f9f9 100%);
}

.overlay .lightbox .left,
.overlay .lightbox .right {
	width: 49%;
	height: 100%;
	float: right;
	position: relative;
}

.overlay .lightbox .right {
	margin-left: 2%;
	text-align: center;
}

.overlay .lightbox .left img {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}

.overlay .lightbox .left p {
	font-size: 14px;
	color: #717171;
	margin: 0;
	line-height: 20px;
}

.overlay .lightbox .right .box {
	background-color: #eaeaed;
	height: 250px;
	width: 100%;
	position: absolute;
	bottom: 0;
	border-radius: 7px;
	padding: 40px;
	color: #717171;
}

.overlay .lightbox .right .box h2 {
	margin: 0;
	text-align: center;
	padding: 0 70px;
	line-height: 18px
}

.overlay .lightbox .right .box p {
	text-align: center;
	margin: 0;
	margin-top: 5px;
	padding: 0 20px;
}

.overlay .lightbox .right .box input {
	border: medium none;
	border-radius: 7px;
	box-shadow: 1px 1px 4px -1px inset;
	color: #717171;
	font-size: 14px;
	height: 35px;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

.overlay .lightbox .right .box button {
	border-radius: 12px;
	width: 110px;
	height: 40px;
	border: 2px solid #064d7c;
	color: #fff;
	font-size: 22px;
	background-image: linear-gradient(to top, #0e6fb1 0%, #1c97ea 100%);
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);

	position: absolute;
	bottom: 20px;
	left: 40px;
}

.overlay .lightbox .right .box img {
	float: right;
	margin-top: 20px;
	width: 160px;
	height: 40px;

	position: absolute;
	bottom: 20px;
	right: 40px;
}

.overlay .lightbox .right .box .error {
	color: red;
	font-weight: bold;
	margin-top: 5px;
}

.overlay .lightbox .right .box button:hover {
	box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
	text-shadow: none;
}

#header, 
#footer {
	height: 100px;
	width: 100%;
}

#header {
	height: 135px;
	border-bottom: 1px solid #bebec3;
	background-image: url('../../img/site/headerbg.png');
	background-repeat: repeat-x;
	background-position: left bottom;
	background-color: #07578d;

}

#main {
	width: 100%;
	min-height: 800px;
	margin-top: 30px;
}

#main .container {
	overflow: hidden;
}

#footer {
	height: 45px;
	background-color: #bdbdc2;
	color: #fff;
}


.container {
	width: 1000px;
	margin: 0 auto;
	overflow: visible;
	position: relative;
}

#sidebar {
	width: 235px;
	display: inline-block;
	float: right;
}

#content {
	min-height: 800px;
	display: inline-block;
	width: calc(100% - 235px);
	float: left;
}

#header #logo {
	position: absolute;
	right: 0;
	bottom: 0;
}

#header p {
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 24px;
}

#header p a{
	color: #fff;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	height: 27px;
	padding: 0 10px;
	text-decoration: none;
}

#header p a:hover,
#header p a.active{
	background-color: #0b81c1;
}

#header p.right {
	float: right;
}


#header p.right a {
	font-weight: bold;
	margin-right: 10px;
}

#header p.left {
	float: left;
}

#header p.left a {
	margin-right: 10px;
}



#header .container {
	height: 135px;
}




#search label {
  clear: both;
  color: #06568d;
  display: block;
  font-size: 22px;
  padding-bottom: 10px;
  white-space: nowrap;
}

#header #search {
	width: 240px;
	position: absolute;
	left: 0;
	bottom: 20px;
}

#search .search-field {
	width: 240px;
	height: 35px;
}

#search .search-field input {
    border: medium none;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 1) inset;
    display: inline-block;
    height: 35px;
    margin: 0;
    padding: 0 10px;
    width: 205px;
    box-sizing: border-box;
}

#search .search-field button {
	width: 35px;
	height: 35px;
	display: inline-block;
	background-color: #06568d;
	color: #fff;
	border: none;
	border-radius:  5px 0 0 5px;
	padding: 0;
	margin-right: 0;
	float: left;
}

#sidebar button.cart {
	background-color: #22bdf1;
	border: medium none;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 40px;
	letter-spacing: 1px;
	margin-bottom: 20px;
	padding-bottom: 2px;
	width: 100%;
}

#footer ul.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

#footer ul.navigation li{
	display: inline-block;
	margin-right: 10px;
}

#footer ul.navigation li a{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	line-height: 45px;
}

#content {
	margin-left: -8px;
	margin-right: -8px;
}

.box {
	box-sizing: border-box;
	display: block;
	float: right;
	padding: 0 8px 16px;
	width: 33.33%;
}

.box .inner{
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 3px;
	width: 100%;
	height: 300px;
	box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.12);
	padding: 10px;
	position: relative;
	overflow: hidden;
	text-align: center;
	display: block;
	color: #000;
	text-decoration: none;
}

.box .inner > label{
    background-color: #d4d4d9;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    left: -37px;
    letter-spacing: 1px;
    line-height: 36px;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    top: 18px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    width: 150px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.box .inner img {
	height: 54%;
	width: 100%;
	background-color: #a0a0a0;
	border: none;
}

.box .inner h2 {
	color: #06568d;
	font-size: 18px;
	font-style: normal;
	height: 18px;
	line-height: 18px;
	margin: 5px 0 10px;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.box .inner address {
	color: #454547;
	font-size: 14px;
	font-style: normal;
	line-height: 16px;
}	

.box .inner .info {
  border-top: 2px solid #e5e5e5;
  bottom: 0;
  box-sizing: border-box;
  height: 50px;
  left: 2px;
  padding: 8px 25px 0;
  position: absolute;
  right: 2px;
}

.box .inner .info span,
.box .inner span.info-discount {
	color: #454545;
	display: block;
	font-size: 18px;
	font-weight: bold;
	line-height: 27px;
	padding-top: 7px;
}


.box .inner .info .button {
	width: 100%;
	height: 30px;
	border-radius: 3px;
	background-color: #1b79ba;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: none;
	padding: 0;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	line-height: 27px;
}

.box .inner:hover .info .button {
	background-color: #2192e0;
}

.box.mini-site {
	width: 100%;
}

.box.mini-site .inner {
	height: auto;
	min-height: 700px;
	padding: 10px;
	text-align: right;
}

.box.search {
	width: 100%;
	float: none;
	margin-bottom: 15px;
	cursor: pointer;
}

.box.search .inner {
	height: 200px;
	text-align: right;
}

.box.search .left {
	width: 480px;
	height: 180px;
	float: right;
	position: relative;
	border-left: 2px solid #e5e5e5;
	margin-left: 20px;
}

.box.search .right {
    float: left;
    height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
  }

.box.search .inner .info {
	border: none;
	right: 255px;
	left: 20px;
	padding: 0;
	bottom: 0;
	height: auto;

}

.box.search .inner .info span
{
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
}

.box.search .left h2 {
	margin-top: 0;
}

.box.search .left img {
	width: 235px;
	height: 180px;
	float: right;
	margin-left: 20px;
}

.tree, .tree ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tree {
	background: #fff;
	border: 1px solid #e7e7ec;
	border-radius: 5px;
	/*margin-bottom: 20px;*/
}

.tree-node i.fa {
	display: none;
}

ul.tree > li > div, .tree-node > a {
	display: block;
	border-radius: 5px 5px 0 0;
	height: 35px;
	border-bottom: 1px solid #d9dcde;
	color: #1b79ba;
	font-size: 16px;
	line-height: 35px;
	padding: 0;

	background-image: linear-gradient(to top, #d3dee2 0%, #fff 50%);
	cursor: pointer;
	font-weight: bold;
	position: relative;
	text-decoration: none;
}

.tree > .tree-node > a {
	padding: 0 10px;
}



.tree > .tree-node > a i.fa {
	float: left;
	position: relative;
	top: 10px;
}

.tree > .tree-node > a i.fa-chevron-left {
	display: inline;
}

.tree > .tree-node.active > a i.fa,
.tree > .tree-node > a i.fa-caret-left {
	display: none;
}
.tree > .tree-node.active > a i.fa-chevron-down,
.tree > .tree-node.active > a i.fa-check {
	display: inline
}

.tree-node a i.fa-caret-left {
	display: inline;
}

.tree-node.active > a i.fa-caret-left {
	display: none;
}

.tree-node.active > a i.fa-caret-down {
	display: inline;
	color: #1b79ba;
}

ul.tree > li ul {
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 0;
}

.tree-row, .tree-node > a{
	height: 35px;
	line-height: 35px;
	position: relative;
	color: #1b79ba;
	font-weight: bold;
}

.tree .tree-branch a {
	background-image: none;
	color: #000;
	border-bottom: none;
}

.tree-node.leaf {
	line-height: 20px;
}

.tree-node.leaf > span {
	background-image: none;
	border-bottom: none;
	padding: 0;
	font-weight: normal;
	color: #000;
	position: relative;
	display: block;
	font-size: 16px;
	padding-right: 20px;
	line-height: 18px;
	height: 20px;
	cursor: pointer;
}

.tree-node.leaf > span i.fa {
	position: absolute;
	top: 2px;
	right: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #bbbbbb;
	display: block;
	content: '';
	border-radius: 5px;
	text-align: center;
	line-height: 14px;
	font-size: 0;
	background-image: linear-gradient(to top, #ededed 0%, #fafafa 100%);
}

.tree-node.leaf:hover > span i.fa {
	background-image: none;
}

.tree-node.leaf.selected > span i.fa {
	font-size: 14px;
}

.tree-node ul.tree-branch {
	display: none;
}

.tree-node a.active + ul.tree-branch, ul.tree-branch.active {
	display: block;
}

.mini-site .header {
	height: 280px;
	position: relative;
}

.mini-site .header img{
	width: 50%;
	float: left;
	height: 100%;
	background-color: #fdfdfd;
}

.mini-site .header .right {
	display: inline-block;
	float: right;
	width: 355px;
	text-align: right;
	height: 100%;
	position: relative;
}

.box.mini-site .inner{
	text-align: right;
}

.box.mini-site .inner h2{
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.mini-site .top {
	height: 100px;
	border-bottom: 1px solid #cbcbcc;
	position: relative;
}

.mini-site .top address {
	position: absolute;
	bottom: 15px;
	line-height: 18px;
}

.mini-site .bottom {
	border-top: 1px solid #cbcbcc;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
}

.mini-site .bottom p{
	margin: 0;
}


ul.items {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	border-bottom: 1px solid #cbcbcc;
}

ul.items li {
	border-top: 1px solid #cbcbcc;
	overflow: hidden;
}

ul.items li > div {
    display: inline-block;
    height: 50px;
    margin: 7px 0;
    vertical-align: top;
}

.mini-site div.item-info {
	width: 50%;
	float: right;
	height: 100%;
	overflow: hidden;
}

ul.items li .name{
	color: #07609d;
	font-size: 16px;
	white-space: nowrap;
	margin: 0;
}

ul.items li .description{
    color: #454547;
    font-size: 12px;
    height: 45px;
    margin: 0 0 45px;
    overflow: hidden;
}

.mini-site .items .order {
	position: relative;
}

.mini-site .items .order button {
	background-color: #06568d;
	border: none;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	padding: 5px 20px;
	text-align: center;
	text-decoration: none;
	float: left;
}

.mini-site .items .order button:hover {
	background-color: #1b79ba;
}

.mini-site .items .order .info-discount {
    position: absolute;
    text-align: center;
    top: -40px;
    width: 96px;
    left: 0;
    font-size: 20px;
}

.items .count {
    display: inline-block;
}

.items .price {
	display: inline-block;
	font-size: 0;
}

.items .price label{
    color: #0872bb;
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
}

.items .price .discount {
  color: #000;
  display: inline-block;
  font-size: 20px;
  margin-right: 15px;
  vertical-align: middle;
  width: 72px;
}

.items .price .list {
  color: #000;
  margin-left: 10px;
  position: relative;
}

.items .price .note {
	font-size: 13px;
	width: auto;
	margin-right: 0;
}

.price .discount, .price .list, .price .count {
	vertical-align: middle;
}

.items .price .list:after {
  background: none repeat scroll 0 0 #000;
  content: "";
  display: block;
  height: 2px;
  left: -5%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  width: 110%;
}

.mini-site .gallery {
  height: 135px;
  padding: 5px 0;
  width: 50%;
  float: right;
}

.mini-site .gallery-images {
	list-style: none;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	font-size: 0;
	overflow: hidden;
}

.mini-site .gallery-images li {
  display: inline-block;
  height: 135px;
  margin-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  width: 171px;
}

.mini-site .gallery-images li img {
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.qty .wrap{
	position: relative;
	overflow: hidden;
}

.qty .count {
    background-color: #eeeef4;
    border: 1px solid #dcdcdd;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1) inset;
    color: #000;
    font-size: 18px;
    height: 35px;
    line-height: 35px;
    margin-left: 18px;
    text-align: center;
    width: 45px;
}

.qty .up, .qty .down {
	background-color: #a2a2a6;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	height: 17px;
	left: 0;
	line-height: 15px;
	position: absolute;
	text-align: center;
	width: 15px;
}

.qty .up {
	top: 1px;
}

.qty .down {
	bottom: 1px;
	/*border-top: 10px solid black;*/
}

.lightbox .close {
	background-color: #c8c8cb;
	border-radius: 50%;
	color: #fff;
	font-size: 24px;
	height: 27px;
	left: 10px;
	line-height: 27px;
	position: absolute;
	text-align: center;
	top: 10px;
	width: 27px;
	cursor: pointer;
}

.lightbox .close:hover {
	border: 1px solid #666;
	width: 25px;
	height: 25px;
}

.lightbox-title {
	margin: 0;
	right: 25px;
	top: 10px;
	color: #07609d;
	position: absolute;
	font-weight: normal;
	font-size: 16px;
	font-weight: bold;
}

.empty-cart {
	background-image: linear-gradient(to top, #f4f4f4 0%, #f9f9f9 100%);
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #666;
	font-size: 16px;
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}

.lightbox.cart {
	height: auto;
}


ul.cart-items {
	border: none;
}

ul.cart-items li {
	padding: 20px 10px;
	position: relative;
	border: 1px solid #e1e1e5;
	border-bottom: none;
}

ul.cart-items li:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

ul.cart-items li:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: 1px solid #e1e1e5;
}

ul.cart-items li > div {
	display: inline-block;
	margin: 0;
	height: auto;
	vertical-align: middle;
}

.cart-items li > .info {
	width: 500px;
}

.cart-items li > .info p.description {
	height: auto;
	margin: 0;
}

.cart-items li > .price label {
	font-size: 14px;
	letter-spacing: normal;
}

.items.cart-items li > .price {
	height: auto;
	margin-left: 20px;
}

.items.cart-items li > .price .discount {
	line-height: normal;
}

.cart-items li > .count {
	float: none;
	display: inline-block;
	margin: 0;
	height: auto;
}

.cart-items li .remove {
	font-size: 30px;
	color: #ccc;
	position: absolute;
	left: 10px;
	cursor: pointer;
}

.cart-items li .remove:hover {
	color: #000;
}

.cart-totals {
	  background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
}

.cart-totals strong {
	display: block;
	border-top: 1px solid #ccc;
	margin-top: 5px;
	padding-top: 5px;
}

.cart-buttons {
	clear: both;
	overflow: visible;
	padding-top: 50px;
}

/*.cart-buttons button {
	background-color: #06568d;
	border: medium none;
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 27px;
	padding: 3px 20px;
	text-align: center;
	text-decoration: none;
}*/

/*.cart-buttons button:hover {
	background-color: #1b79ba;
}
*/

.cart-buttons button + button{
	float: left;
}

.lightbox form {
	width: 100%;
	padding: 0;
	margin: 0;
	padding: 40px 50px 0;
}

.lightbox button,.box.myinfo button {
	background-image: linear-gradient(to top, #0e6fb1 0%, #1c97ea 100%);
	border: 2px solid #064d7c;
	border-radius: 12px;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 16px;
	height: 40px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	width: 120px;
	margin-top: 20px;
}

.lightbox form button + button {
	float: left;
}

.lightbox form .form-group {
	margin-bottom: 15px;
}

.lightbox form .row {
	font-size: 0;
	margin-bottom: 15px;
	overflow: visible;
}

.lightbox form .row .ember-chosenselect {
	width: calc(35% - 5px) !important;
	margin-left: 10px;
	vertical-align: top;
}

/*.lightbox form .form-group.exp .ember-chosenselect.months {
	margin-left: 0;
}*/

.form-control.chosen-container-single .chosen-single {
	box-sizing: border-box;
}

.lightbox form .form-group label {
	display: block;
}

.lightbox form .form-group input,
.lightbox form .row input,
.box.myinfo .form-group input
{
	border: 1px solid #f4f4f4;
	border-radius: 7px;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.7) inset;
	box-sizing: border-box;
	color: #666;
	display: block;
	font-size: 18px;
	height: 38px;
	padding: 0 10px;
	width: 100%;
}

.lightbox form .row input {
	display: inline;
	vertical-align: top;
	width: calc(30% - 10px);
}

.overlay .lightbox.small,
.overlay .lightbox.small {
	width: 400px;
	padding-top: 0;
	height: auto;
	background-image: linear-gradient(to top, #dbe2e5 10%, #e6e9eb 20%, #f0f0f0 50%, #f9f9f9 100%);
}

.overlay .lightbox.small  form {
	margin: 0;
	padding: 0 10px;
	width: 100%;
}

.overlay .lightbox.small h2 {
	margin-top: 10px;
	color: #004D83;
}

.overlay .lightbox.small h3,
.overlay .lightbox.small h4 {
	font-weight: normal;
	color: #666;
	margin: 0;
	font-size: 16.33px;
}

.overlay .lightbox.small h4 {
	margin-bottom: 10px;
}

.overlay .lightbox.small h4 span {
	color: #000;
	font-weight: bold;
}

.row  {
	overflow: hidden;
	clear: both;
}

.row .exp, 
.row .cvv {
	display: inline-block;
	float: right;
	width: calc(70% - 20px);
	margin-left: 20px;
}

.row .cvv {
	margin: 0;
	width: 30%;
}

.alert {
	position: relative;
	border-radius: 5px;
	padding: 20px 10px;
	margin-bottom: 20px;
}

.alert .close{
    background-color: transparent;
    color: inherit;
    height: 25px;
    line-height: 25px;
    top: 14px;
    width: 25px;
}

.alert.error {
	background-color: #ffe8e6;
	color: #d95c5c;
	border: 1px solid #EAD5D3;
}


.alert.error .close {
		border: 1px solid #d95c5c;
		color: #d95c5c;
}

.alert.success {
    background-color: #eeffe7;
    color: #3c763d;
    border: 1px solid #C9DBBC;
}


.alert.success .close{
	border: 1px solid #3c763d;
	color: #3c763d;
}

#top-categories .box a {
	display: block;
	color: #fff;
	height: 40px;
	font-size: 18px;
	text-decoration: none;
	line-height: 36px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#top-categories .box a .fa{
	left: 10px;
	position: absolute;
	top: 11px;
}

#top-categories .newsuppliers a {
	background-color: #06568d;
}

#top-categories .mostviewed a {
	background-color: #0a7bbe;
}

#top-categories .hotdeals a {
	background-color: #f9bb00;
}

#top-categories .box ul.slides {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 40px;
	font-size: 0;
	white-space: nowrap;
	transition: all 0.6s ease 0s;
}

#top-categories .box ul.slides li {
	width: 239px;
	height: 100%;
	display: inline-block;
	overflow: hidden;
}

#top-categories .box ul.slides li img{
  position: relative;
  height: 100%;
  width: auto;
  right: 50%;
  transform: translateX(50%);
  -webkit-transform: translateX(50%);
}

#top-categories .dots {
    bottom: 50px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

#top-categories .dots .dot {
	background-color: #06568D;
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	width: 10px;
	cursor: pointer;
	transition: all 0.6s ease 0s;
}

#top-categories .dots .dot.active {
	background-color: #ccc;
	border-color: #fff;
}