@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.inlineList li
{
	display: inline-block;
}
.panel-heading ul
{
	margin-left: 15px;
}
.panel-heading .inlineList li
{
    padding-top: 15px;
    vertical-align: middle;
}

.panel-heading .inlineList li input
{
	width: 100px;
}

table.reports tbody tr:last-of-type td
{
	font-weight: bold;
}


td.min,
th.min {
	width: 1%;
	white-space: nowrap;
}

td.center,
th.center {
	text-align: center;
}

.alert button {
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px 5px;
  margin-top: 15px;
  border: none;
}

.alert button i {
	display: inline-block;
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	float: none !important;
}